<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <properties>
        <!--日志输出位置-->
        <property name="LOG_HOME">${sys:user.home}/.worship-ppt</property>
    </properties>

    <Appenders>
        <!-- 将日志输出到控制台-->
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <!--设置日志格式及颜色-->
            <PatternLayout pattern="%d{HH:mm:ss:SSS} %msg%n"/>
        </Console>

        <RollingFile name="FILE-APPENDER"
                     immediateFlush="true"
                     fileName="${LOG_HOME}/WorshipPPT.log"
                     filePattern="${LOG_HOME}/WorshipPPT-%d{yyyy-MM-dd}-%i.log.zip">
            <PatternLayout>
                <pattern>[%d{HH:mm:ss:SSS}] - [%t] [%p] - %logger{36} - %m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20">
                <Delete basePath="${LOG_HOME}" maxDepth="2">
                    <IfFileName glob="info_*.zip"/>
                    <IfLastModified age="168H"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- 根日志设置 -->
        <Root level="INFO">
            <AppenderRef ref="CONSOLE" level="INFO"/>
            <AppenderRef ref="FILE-APPENDER" level="INFO"/>
        </Root>

        <!-- apache -->
        <Logger name="org.apache" level="WARN"/>
    </Loggers>
</configuration>