# -----------------------------------------------------
# PPT
# -----------------------------------------------------
# PPT 全局制作参数
ppt.general.procedurePath=config/worship-procedure.xml
ppt.general.fontFamily=微软雅黑
## 段落中的占位符
ppt.general.placeholder={}
ppt.general.language=zh-CN

# PPT 幻灯片母版
## 通用的模板
ppt.master.worshipFilePath=PPT模板/worship.pptx
## 入会模板
ppt.master.initiationFilePath=PPT模板/initiation.pptx
## 模板中最常用的幻灯片版式
ppt.master.generalLayout.name=带十字架正文
## 入会幻灯片的序号
ppt.master.initiation.poetrySlide.order=32

# PPT 赦罪
## 赦罪经文的行距。若值大于或等于0，则表示多少倍行距，小于0则其绝对值表示多少磅行距
ppt.forgiveSinsScripture.lineSpacing=120.0

# PPT 诗歌：歌谱图
## 扩展名
ppt.poetry.extension=.png
## 宽度（单位：厘米）
ppt.poetry.width=24.3
## 位置（单位：厘米）
ppt.poetry.left=0.0
ppt.poetry.top=0.0

# PPT 诗歌：清单
## 表格的位置和大小（单位：厘米）
ppt.poetryContent.x=0.86
ppt.poetryContent.y=2.62
ppt.poetryContent.w=22.58
ppt.poetryContent.h=9.23
## 多少列
ppt.poetryContent.colCount=2
## 标题文字大小
ppt.poetryContent.titleFontSize=28.0
## 正文文字大小
ppt.poetryContent.fontSize=18.0
##\u3000正文缩进多少（单位：厘米）
ppt.poetryContent.leftInset=1.2
## 正文段落前间距多少（单位：磅）
ppt.poetryContent.spaceBefore=-9.0

# 圣餐：诗歌
## 歌谱图的垂直位置（单位：厘米）
ppt.holyCommunion.poetry.top=2.18

# 圣餐：非会友领餐名单表格
## 表格的位置和大小（单位：厘米）
ppt.holyCommunion.nameList.x=0.82
ppt.holyCommunion.nameList.y=3.75
ppt.holyCommunion.nameList.w=23.52
ppt.holyCommunion.nameList.h=1.64
## 多少列
ppt.holyCommunion.nameList.colCount=5
## 正文文字大小
ppt.holyCommunion.nameList.fontSize=28.0

# -----------------------------------------------------
# 数据库
# -----------------------------------------------------
SQLite.path=数据库/和合本.db

# -----------------------------------------------------
# 经文模板
# -----------------------------------------------------
# 用正则表达式表示可删除的字符
scripture.regex=(</?[a-zA-Z]+>)|(\u3000)|(（细拉）)